<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="com.artifex.mupdf.mini">
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<application>
		<activity android:name=".DocumentActivity"
				android:label="MuPDF mini"
				android:configChanges="orientation|screenSize|keyboardHidden"
				android:hardwareAccelerated="false"
				>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:mimeType="application/pdf" />
				<data android:mimeType="application/vnd.ms-xpsdocument" />
				<data android:mimeType="application/oxps" />
				<data android:mimeType="application/x-cbz" />
				<data android:mimeType="application/epub+zip" />
				<data android:mimeType="text/xml" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:pathPattern=".*\\.pdf" />
				<data android:pathPattern=".*\\.xps" />
				<data android:pathPattern=".*\\.oxps" />
				<data android:pathPattern=".*\\.cbz" />
				<data android:pathPattern=".*\\.epub" />
				<data android:pathPattern=".*\\.fb2" />
			</intent-filter>
		</activity>
		<activity android:name=".OutlineActivity"
				android:configChanges="orientation|screenSize|keyboardHidden"
				>
		</activity>
	</application>
</manifest>
